.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.roboto-500 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.roboto-700 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}
.container {
  width: 1440px;
  height: 72px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  display: flex;
  justify-content: left;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap:40px;
 
}
.header .nav-list a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  gap: 20px;
  text-align: left;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.header .nav-list a:hover {
  color: #404bbf;
}
.header .contacts {
  display: flex;
  gap: 40px;
  margin-left: auto;
  
}
.header .contacts a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
  color: #434455;
}
.header .contacts a:hover {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  line-height: 1.16;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
   margin-right: 76px;
}
.logo-highlight {
  color: #2e2f42;
}
.order-service {
  background-color: #2e2f42;
  text-align: center;
 height: 56vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family:inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  display:block;
  margin: 0 auto;
  min-width: 169px;
  height:56px;
  padding: 16px 32px;
}
.button:hover {
  background-color: #404bbf;
}

.button:active {
  background-color: #404bbf;
}
.values{
  padding:120px 0;
}
.values h2
.values p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
  text-align: center;
}
.values ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.values li {
  width: 250px;
  text-align: left;

}

.team {
  background-color: #e7e9fc;
  text-align: center;
  height:732px;
  padding: 160px 0;
  gap:32px;
}

.team h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  margin-bottom: 60px;
}

.team ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.portfolio {
  padding: 120px 0;
}

.portfolio h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.portfolio ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  justify-items: center;
  list-style: none;
  padding: 0;
}

.footer {
  background-color: #2e2f42;
  color: white;
  text-align: left;
  padding: 20px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  line-height: 1.16;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
}
.logo-highlight-footer {
  color: white;

}
